body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#navbar {
    padding: 1px;
}

#navHeader h1 {
    color: #222222;
    float: left;
    font-size: 50px;
    margin-left: 40px;
    user-select: none;
}

#hamburgerButton {
    float: right;
    width: 60px;
    margin: 45px 50px 0px 0px;
    cursor: pointer;
    transition: all 0.3s;
}

#hamburgerButton:hover {
    opacity: 0.8;
}

#navLinks {
    margin-top: 150px;
    visibility: hidden;
}

#navLinks li {
    list-style: none;
    margin-top: 18px;
    font-size: 40px;
}

#navLinks a {
    text-decoration: none;
    color: #5188d1;
    transition: color 0.3s;
}

#navLinks a:hover {
    color: #a8c5eb;
}